#
# Special shell settings template
#

# copy this file to .shell_common_local.sh

# add ${HOME}/bin-local to path
if [ -d "${HOME}/bin-local" ]
then
  export PATH="${PATH}:${HOME}/bin-local"
fi

# overwrite START_DIR_DIRS used in ~/bin/start-dir.sh
# export START_DIR_DIRS="$HOME/work1 $HOME/work2"

