#
# Special shell settings template
#

# copy this file to .shell_common_local.sh

# overwrite START_DIR_DIRS used in ~/bin/start-dir.sh
# export START_DIR_DIRS="${START_DIR_DIRS} ${HOME}/work1 ${HOME}/work2"

