{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "blocks": [
    {
      "alignment": "left",
      "segments": [
        {
          "background": "#f0c674",
          "foreground": "#1d1f21",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " \uf0e7 ",
          "type": "root"
        },
        {
          "background": "#c5c8c6",
          "foreground": "#1d1f21",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " {{ .UserName }}@{{ .HostName }} ",
          "type": "session"
        },
        {
          "background": "#81a2be",
          "foreground": "#1d1f21",
          "powerline_symbol": "\ue0b0",
          "properties": {
            "home_icon": "\uF015",
            "folder_icon": "\uF115",
            "folder_separator_icon": " \uE0B1 ",
            "style": "letter",
            "mapped_locations_enabled": true,
            "mapped_locations": {
              "~\\ADJUST_PATH\\git": "\uF296",
              "~\\ADJUST_PATH\\svn": "\uF126",
              "~\\ADJUST_PATH\\cloud": "\uF0C2"
            }
          },
          "style": "powerline",
          "template": " {{ .Path }} ",
          "type": "path"
        },
        {
          "type": "git",
          "style": "powerline",
          "powerline_symbol": "\ue0b0",
          "background": "#b5bd68",
          "foreground": "#1d1f21",
          "background_templates": [
            "{{ if or (.Working.Changed) (.Staging.Changed) }}#b294bb{{ end }}",
            "{{ if and (gt .Ahead 0) (gt .Behind 0) }}#f0c674{{ end }}",
            "{{ if gt .Ahead 0 }}#8abeb7{{ end }}",
            "{{ if gt .Behind 0 }}#8abeb7{{ end }}"
          ],
            "template": " {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} \uF044 {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }} \uF046 {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }} \uF692 {{ .StashCount }}{{ end }} ",
          "properties": {
            "fetch_status": true,
            "fetch_stash_count": true,
            "fetch_upstream_icon": true
          }
        },
        {
          "background": "#906cff",
          "foreground": "#100e23",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " \ue235 {{ if .Error }}{{ .Error }}{{ else }}{{ if .Venv }}{{ .Venv }} {{ end }}{{ .Full }}{{ end }} ",
          "type": "python"
        },
        {
          "background": "#cc6666",
          "foreground": "#c5c8c6",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " \ue20f ",
          "type": "exit"
        }
      ],
      "type": "prompt"
    },
    {
      "alignment": "left",
      "newline": true,
      "segments": [
        {
          "foreground": "#de935f",
          "style": "plain",
          "template": "\u276f ",
          "type": "text"
        }
      ],
      "type": "prompt"
    }
  ],
  "version": 2
}
