# This is Git's user configuration

# copy to ~/.config/git/config-user

[user]
  name = xxx
  email = xxx@example.org

# configure different users for different projects

#[includeIf "gitdir:~/dreknix/"]
#  path = ~/.config/git/config-user-dreknix

#[includeIf "gitdir:~/workspace/private/project"]
#  path = ~/.config/git/config-user-project

#[includeIf "gitdir:~/work/"]
#  path = ~/.config/git/config-user-work
